:root{
    --primary-color: #4caf50;
    --secondary-color:  #fff;
    --background-color: #f4f4f4;
    --card-background-color:#fff;
    --card-shadow:rgba(0,0,0,0.2)
}


body{
    background-color:var(--background-color);
    font-family: "Playwrite NZ", cursive;
    color: #333;
    margin: 0;
    padding: 0;

}

h1,h2{
    color:var(--primary-color);
}
ul{
    list-style: none;
}

header{
    /*..background-color:var(--primary-color);..*/
    color:var(--secondary-color);
    text-align: center;
    padding: 1.5rem  0;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    right: 5;
}
#nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem 1.6rem;
    margin: 0.8rem  0;
    border-radius: 0.5rem;
    cursor: pointer;

}
button:hover{
background-color: #4caf50;
}


input,select,textarea{
width: 100%;
padding: 0.8rem;
margin: 0.5rem  0;
border-radius: 0.5rem;
padding: 0.8rem;
box-sizing: border-box;
}
.card{
background-color: var(--card-background-color);
border-radius: 0.5rem;
box-shadow: 0 0.2rem 0.4rem var(--card-shadow);
margin: 1.2rem;
padding: 1.2rem;
}

nav ul{
list-style: none;
padding: 0;
margin: 0;
}
nav ul li{
margin: 0  0.8rem;
}
nav ul li a{
text-decoration: none;
font-weight: bold;
}

#Introduction{
    background-image:url(Cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Intro__name{
    color:white;
}
.Intro__paragraph{
    color: white;
}



/*.head.staerts here..*/
main{
    
head{
    

width: 80%;
margin: auto;
padding: 1.2rem;



table{
width: 100%;
border-collapse: collapse;
margin: 12rem 0;
}


table,th,td{
border: 1px solid #ddd;
padding: 0.5rem;
}
th{
    background-color: #f2f2f2;
}

}
}
#Skills{
    background-image: url(skill.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Skills h1{
    background-color: white;
}
.skills__head{
    color: #1ceb05;
    font-weight: bold;
    background-color: white;
}
.skills__body{
    color: #16bb0aeb;
    font-weight: bold;
    background-color: white;
}
.Skills_progress{
    color: #e70707;
    background-color: rgb(193, 218, 225);
    
}
.Skills_progress h2{
    background-color: white;
    
}
#Projects{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project__description{
    color: white;
}
#Education{
    background-image: url(education.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    color:rgb(31, 234, 21);
    background-color: white;
}
.table_heading{
    color: rgb(0, 3, 7);
    font-weight: bolder;
    background-color: #fff;
}
.table_body{
    color: #cd1458;
    font-weight: bold;
    background-color: #fff;
}
#Contact{
    background-image: url(contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Contact__description{
    color: white;
}

/*.head.ends here..*/

/*.footer.staerts here..*/
footer{
    background-color:var(--primary-color);
   /*. color:var(--secondary-color);*/
    text-align: center;
    width:100%;
    padding: 0.5rem 0;
    margin: 0  0.5rem;
   /*. display: flex;.*/

}
.social-media a {
/*.color:var(--secondary-color);.*/
font-size: 1.2rem;
text-decoration: none;
margin: 0  0.5rem;
padding: 0.2rem;

    font-size: 2rem;
}
.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}
.social-media h2{
    color: rgb(25, 3, 146);
}

#footer{
   /*. background-color: black;.*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2rem;
}

#footer_map{
    padding: 0.2rem;
}
/*.footer.ends here..*/

